/* Container */

.w-lg-75 {
  max-width: 800px;
}

/* INPUTS & SELECT */

.w-lg-25 {
  max-width: 500px;
}

select.w-25 {
  min-width: 82px;
  max-width: 110px;
}

input[type="search"] {
  min-width: 155px;
  max-width: 300px;
}

/* Add contact Btn */

.add-btn {
  cursor: pointer;
}

/* Accordion */
#accordion {
  max-height: 400px;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  #accordion {
    max-height: 600px;
  }
}

#accordion-header {
  cursor: pointer;
}

.copy_icon,
.info_icon {
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
  color: hsl(45, 100%, 29%);
}

/* Modal */

.modal-container {
  background-color: rgba(0, 0, 0, 0.34);
  height: 91.2vh;
  z-index: 2;
}

/* ANIMATIONS */

.modal-container,
.modal-form {
  animation: popup 1.5s ease-in-out;
}

@keyframes popup {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#accordion-body {
  animation: fadein 2s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0.3;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
