.w-lg-75 {
  max-width: 800px;
}

.w-lg-25 {
  max-width: 500px;
}

select.w-25 {
  min-width: 82px;
  max-width: 110px;
}

input[type="search"] {
  min-width: 155px;
  max-width: 300px;
}

.add-btn {
  cursor: pointer;
}

/* Accordion */
.contact__accordion {
  cursor: pointer;
}

.delete_icon,
.edit_icon {
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
  color: hsl(45, 100%, 29%);
}

.accordion-info {
  animation: fadein 250ms ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
}

/* Modal */

.modal-container {
  background-color: rgba(0, 0, 0, 0.34);
  height: 91.2vh;
  z-index: 2;
}

.modal-container,
.modal-form {
  animation: popup 2s ease-in-out;
}

@keyframes popup {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
